.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    position: relative;
    text-align: start;

    h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    }

    p {
    font-size: 18px;
    line-height: 28px;
    width: 50%;
    margin-bottom: 32px;
    }

    .underline {
    border-bottom: 3px solid #4EE1A0; /* Example color for the underline */
    text-decoration: none;
    }

    a:link, a:visited {
    color: white; /* Example color for the link */
    padding-bottom: 4px; /* Space between text and underline */
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2.29px;
    }

    
    .space-grotesk-bold {
    font-weight: bold;
    }


    img.rings {
    position: absolute;
    top: -64px;
    left: -260px;
    width: 530px;
    height: 129px;
    }

    img.profile-pic {
    position: absolute;
    top: -300px;
    right: -237px;
    width: 445px;
    height: 720px;
    z-index: -1;
    }
}