.nunita-bold {
    font-weight: bold;
}

header {
    position: relative;
    text-align: start;
    margin-bottom: 160px;
    p {
    width: 26%;
    margin-bottom: 32px;
    }

    .underline {
    border-bottom: 3px solid #4EE1A0; /* Example color for the underline */
    text-decoration: none;
    }

    a:link, a:visited {
    color: white; /* Example color for the link */
    padding-bottom: 4px; /* Space between text and underline */
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2.29px;
    }


    img.rings {
    position: absolute;
    top: -68px;
    left: -215px;
    width: 530px;
    height: 129px;
    }

    img.profile-pic {
    position: absolute;
    top: -300px;
    right: 0px;
    width: 445px;
    height: 720px;
    z-index: -1;
    }
}